.header {
  background: #ffffff url(../images/background_header.svg) no-repeat center /
    cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  border: 1px solid rgb(216, 216, 216);
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 80px;
  width: 125px;
  height: 142px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__links {
  list-style: none;
  display: flex;
  padding-left: 0;
  column-gap: 20px;
  z-index: 2;
  font-family: "Inter", arial, helvetica, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.header__title {
  max-width: 729px;
  margin-top: 202px;
  margin-right: 80px;
  font-family: "Inter", arial, helvetica, serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: flex;
  font-family: "Noto Serif", arial, helvetica, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-right: 80px;
  font-family: "Noto Serif", arial, helvetica, serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 1;
}

.header__footer {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 80px;
  line-height: 2px;
  display: flex;
  justify-content: space-between;
}

.header__paragraphs {
  color: #6f6f6f;
  text-decoration: none;
  font-family: "Inter", arial, helvetica, serif;
  font-weight: 500;
  font-size: 16px;
}

.header__paragraph_address {
  margin-right: 80px;
  color: #6f6f6f;
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 2;
}
