.menu {
  background: #0a2750 url(../images/background_menu.svg) no-repeat center /
    cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration-color: white;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto 24px;
  text-align: center;
  align-items: center;
  font-family: "Inter", arial, helvetica, serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 24px;
  align-items: center;
  text-align: center;
  font-family: "Noto Serif", arial, helvetica, serif;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
  flex-basis: 100px;
  gap: 100px 100px;
  max-width: 1300px;
}
