.menu {
  background: #0a2750 url(../images/background_menu.svg) no-repeat center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration-color: white;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto 24px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 24px;
  align-items: center;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.menu__cards {
  display: flex;
  column-gap: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 100px;
  position: relative;
  padding-top: 0;
  flex-basis: 100px;
}

.card {
  background-color: rgba(#ff0000, green, blue, alpha);
  width: 600px;
}

.card:nth-child(3) {
  margin-top: 100px;
  margin-left: 400px;
}

.card__title {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.card__list-item {
  gap: 16px;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif";
  font-size: 16px;
  line-height: 20px;
  color: white;
  max-width: 100%;
}

.card__item-size {
  display: flex;
  margin-bottom: 16px;
}

.card__list-divider {
  border-bottom: 3px solid rgb(252, 252, 252);
  flex-grow: 4;
}
