.recipes {
  background: #ffffff url(../images/background_recipes.svg) no-repeat center;
  background-size: cover;
  padding: 100px;
  height: auto;
  margin: auto;
  border: 1px solid rgb(216, 216, 216);
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  width: 480px;
  height: 237px;
  gap: 40px;
  margin: 80px 125px 225px 125px;
}

.recipes__video-caption {
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
