.reservation {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  align-items: center;
  background: #d9e7ff url(../images/background_reservation.svg) no-repeat center /
    cover;
  padding-top: 100px;
}

.reservation__title {
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
  font-family: "Inter", arial, helvetica, serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
